* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 100px;

    background-image: url('./backgroung-img.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: cornflowerblue;
}

body > div:first-child > h1 {
    color: white;
    font-size: 50px;
}

.mainContent {
    position: relative;
    display: flex;
    gap: 500px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100px;
    padding: 150px;
    margin-top: auto;
    margin-bottom: auto;
    width: 1500px;
    height: 500px;

    

    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(10px);
}

.mainContent::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit; /* Inherit parent's background color */
    z-index: -1; /* Place it behind the main content */
    border-radius: 100px;
}

.rm-course {
    width: 15px;
    height: 15px;
}

#course-container-wrap {
    margin: 50px;
}

#courses-container {
    border: 5px soild black;
}

#new-courses-wrap {
    overflow-y: scroll;
    width: 500px;
    height: 400px;
}

#new-courses-wrap::-webkit-scrollbar {
    width: 15px;
}

#new-courses-wrap::-webkit-scrollbar-track {
    background-color: rgba(207, 34, 34, 0.05);
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

#new-courses-wrap::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: rgb(54, 49, 49);
}

.course-ref {
    display: grid;
    grid-template-columns: 230px 87px 100px;
    margin-left: 40px;

    font-size: 20px;
    margin-bottom: 20px;
}

.new-course {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.input-txt {
    padding: 10px;
    font-size: 20px;
    width: 200px;
    border-radius: 10px;
    height: 30px;
    background-color: transparent;
    font-weight: bold;
}

.input-cr {
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
    font-weight: bold;
    border: 1px dashed black;
}

.grade {
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    font-size: 25px;
}

#add-course-btn {
    margin-top: 30px;
    width: 500px;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#cgpa-container-wrap {
    width: 400px;
    height: 400px;
    
    border: none;
    border-radius: 10px;

    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cgpa-container {
    text-align: center;
}

#cgpa-container > p {
    margin: 20px;
    font-size: 20px;
    color: rgb(68, 71, 71);
}

#cgpa {
    font-size: 50px;
    color: black;
}

#calculate-btn {
    
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
}